.search-bar {
  flex: 1;
  position: relative;
  max-width: 400px;
}

.search-bar input {
  width: 100%;
  padding-right: 32px;
}

.clear-button {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1;
  box-shadow: none;
}

.clear-button:active {
  transform: translateY(-50%) translate(1px, 1px);
}
